<a href="http://hearnebraska.us1.list-manage1.com/subscribe?u=8a195706cf10047ecb6091c5e&id=e8436333d5" target="_blank">
    <div class="sidebar__email">
        <span>SIGN UP FOR EMAIL UPDATES</span>
        <div class="email__image">
            
        </div>
    </div>
</a>