
.about__image {
  display: block;
  width: 100%;
  border-right: solid 30px;
  border-color: #ff8110;
}

.about__content {
  background-color: white;
  color: #565351;
  padding: 10px 10px 10px;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
}

.home_emails {
  display: none;
}


.side_bar {
  display: none;
}

@media (min-width: $breakpoint-tablet) {

  .home_emails {
    display: block;
    font-size: 16px;
    padding: 1px;
    margin: 0px 25px 0px;
  }

  .side_bar {
    display: block;
  }
}