.artist_search_box__genre {
  font-family: Yanone Kaffeesatz;
  font-weight: 100;
  font-size: 35px;
  float: right;
}


.artist_module {
  float: left;
  margin: 7.5px;
}

.artist_module__image{
  width: 100%;
  display: block;
}

.artist_module__name{
  background-color: #8f8f8f;
  color: white;
  text-align: center;
  padding: 20px;
}

.artist_module__origin {
  background-color: #c9c9c9;
  color: #8f8f8f;
  text-align: center;
  padding: 5px;
}

.artist_white_background {
  background-color: white;
  overflow: hidden;
}

.artist_search_box {
  border: solid 1px;
  border-color: #8f8f8f;
  color: #c9c9c9;
  margin: 25px 13px 25px 13px;
  padding: 5px 0px 5px 15px;
  background-color: white;
}

.artist_search_box__text {
  font-family: Yanone Kaffeesatz;
  font-weight: 100;
  font-size: 35px;
}

.artist_search_box__icon {
  float: right;
  position: relative;
  top: 14px;
  right: 18px;
  font-size: 20px;
}


@media (min-width: $smallTabletBreakpoint){

  .artist_search_box {
  width: 40%;
  }

}






