.page_header {
  margin-bottom: 25px;
}

.visitor_guide {
  float: left;
  margin-bottom: 50px; 
}

.visitor_guide__image {
  display: block;
  width: 100%;
}

.visitor_guide__title {
  background-color: white;
  color: #565351;
  padding: 10px 10px 10px;
  line-height: 15px;
  font-size: 15px;
  border-bottom: solid 5px;
  border-color: #ff8110;
}

.home_emails {
  display: none;
}

.side_bar {
  display: none;
}

@media (min-width: $breakpoint-tablet) {

  .visitor_guide {
    float: left;
    width: 50%;
    margin-bottom: 50px;
  }

  .home_emails {
    display: block;
    font-size: 16px;
    padding: 1px;
    margin: 0 0px 25px 0px;
  }

  .side_bar {
    display: block;
  }
}