<div class="header_divider_top"></div>
<div class="clear">
  <div class="page_header_left col-3">LINEUP</div>
  <div class="page_header_right col-9">Comedy</div>
</div>
<div class="header_divider_bottom"></div>
<div class="artist_white_background">
  <div class="clear">
    <% @comedians.order(:headline_order).each do |comedian| %>
      <div class="artist_module col-6">
        <img class="artist_module__image" src="<%= comedian.image %>">
        <div class="artist_module__name"><%= comedian.name %></div>
        <div class="artist_module__origin"><%= comedian.origin %></div>
      </div>
    <% end %>
  </div>
</div>
