<!-- "overlay" is the hidden artist popup box -->
<div class="overlay artist_profile" style="display:none;">
  <div class="clear"> 
    <div class="artist_profile container container-tablet">

      <div class="close_button col-1-tablet">X</div>

      <div class="col-7-tablet">
        <img class="artist_profile__image" src="<% artist.image %>">
      </div>

      <div class="artist_info col-4-tablet">
        <div class="artist_info__name"><% artist.name %></div>
        <div class="artist_info__link"><% artist.website %></div>
        <div class="artist_info__origin"><% artist.origin %></div>
      </div>

      <div class="artist_performance_info col-4-tablet">
        <% artist.events.each do |event| %>
          <div class="artist_performance_info__date_time">
            <%= event.weekday%>, <%= event.monthday %><br>
            @ <%= event.starttime %><br>
            <%= event.venue.name %><br>
          </div>
          <div class="artist_performance_info__venue">Venue</div>
        <% end %>
      </div>

      <div class="col-4-tablet no_padding">  
       <div class="artist_bio"><% artist.bio %></div>
      </div>
        
    </div>
  </div>
</div>