<h1>Visitor's Guide</h1>

<body>

  <% @articles.each do |article| %>
    <a href="/visitors/<%= article.id %>">
      <img src="<%= article.image %>" alt="Article Pic">
      <h3><%= article.title %> </h3>
    </a>
  <% end %>

</body> 