@font-face {
    font-family: 'GT Walsheim Regular';
    src: asset-url('gt-walsheim-regular-webfont.eot');
    src: asset-url('gt-walsheim-regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('gt-walsheim-regular-webfont.woff') format('woff'),
         asset-url('gt-walsheim-regular-webfont.ttf') format('truetype'),
         asset-url('gt-walsheim-regular-webfont.svg#GTWalsheim-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Regular';
    src: asset-url('gt-walsheim-regular-oblique-webfont.eot');
    src: asset-url('gt-walsheim-regular-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('gt-walsheim-regular-oblique-webfont.woff') format('woff'),
         asset-url('gt-walsheim-regular-oblique-webfont.ttf') format('truetype'),
         asset-url('gt-walsheim-regular-oblique-webfont.svg#GTWalsheim-Regular') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Bold';
    src: asset-url('gt-walsheim-bold-webfont.eot');
    src: asset-url('gt-walsheim-bold-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('gt-walsheim-bold-webfont.woff') format('woff'),
         asset-url('gt-walsheim-bold-webfont.ttf') format('truetype'),
         asset-url('gt-walsheim-bold-webfont.svg#GTWalsheim-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HN-icons';
    src: asset-url('HN-icons.ttf') format('truetype'),
         asset-url('hn-icons-webfont.woff') format('woff')
}
