<h1>Sponsors</h1>


<% @sponsors.order(:sponsor_order).each do |sponsor| %>
  <% if sponsor.premier == true %>
    <%= sponsor.logo %><br>
    <%= sponsor.name %><br>
    <%= sponsor.description %><br>
  <% end %>
<% end %>

<% @sponsors.order(:sponsor_order).each do |sponsor| %>
  <% if sponsor.premier == false %>
    <%= sponsor.logo %><br>
  <% end %>
<% end %>
