<%= render "titles/default",
    :category => "SPONSORS",
    :page => nil
%>

<div class="main__content">
    <div class="content__content content--sponsors">
        
    </div>
    <div class="content__divider">
    </div>
    <%= render "sidebars/events" %>
</div>
