<%= render "titles/default",
    :category => "SPONSORS",
    :page => nil
%>

<div class="main__content">
    <div class="content__content content--sponsors">
        
    </div>
    <div class="content__divider">
    </div>
    <section class="content__sidebar">
        <%= render "sidebars/email" %>
        <a href="/" class="sidebar__image"><img src="<%= image_url('sidebar.png') %>" alt="Oct. 6-8"/></a>
    </section>
</div>
