<div class="clear">
  <div class="page_header_left">ABOUT</div>
</div>

<div class="white_background">
  
  <div class="clear">

    <div class="about">
      <img class="about__image" src="/assets/twinsmith.jpeg ">
      <div class="about__content">I am content about Lincoln Calling...</div>
    </div>
  </div>
</div>