<div class="page_header">
  <div class="header_divider_top"></div>
  <div class="page_header__right">Artist</div>
  <div class="page_header__left">LINEUP</div>
  <div class="header_divider_bottom"></div>
</div> 

<div class="artist_white_background container">


  <div class="clear artist_search_box">
    <div class="artist_search_box__icon icon"></div>
    <div class="artist_search_box__text">Search for a band</div>
  </div>
 
  <div class="no_padding">   
    <div class="no_padding col-6 col-4-tablet">
      <div class="artist_module">
        <img class="artist_module__image" src="/assets/boy.png">
        <div class="artist_module__name">Future Islands</div>
        <div class="artist_module__origin">Omaha, NE</div>
      </div>
    </div>

    <div class="no_padding col-6 col-4-tablet">
      <div class="artist_module">
        <img class="artist_module__image" src="/assets/boy.png">
        <div class="artist_module__name">Future Islands</div>
        <div class="artist_module__origin">Omaha, NE</div>
      </div>
    </div>

    <div class="no_padding col-6 col-4-tablet">
      <div class="artist_module">
        <img class="artist_module__image" src="/assets/boy.png">
        <div class="artist_module__name">Future Islands</div>
        <div class="artist_module__origin">Omaha, NE</div>
      </div>
    </div>

    <div class="no_padding col-6 col-4-tablet">
      <div class="artist_module">
        <img class="artist_module__image" src="/assets/boy.png">
        <div class="artist_module__name">Future Islands</div>
        <div class="artist_module__origin">Omaha, NE</div>
      </div>
    </div>
  </div>
</div>


<div class="artist_profile" id="artist_profile">
      
  <div class="overlay container">

    <div class="clear">
      <div class="close_button col-1-tablet" id="close_button">X</div>

        <div class="col-7-tablet">
          <img class="artist_profile__image" src="/assets/boy-bourbon-theatre.jpg">
        </div>

        <div class="artist_info col-4-tablet">
          <div class="artist_info__name">Band Name</div>
          <div class="artist_info__link">Link</div>
          <div class="artist_info__origin">Origin</div>
        </div>

        <div class="artist_performance_info col-4-tablet">
          <div class="artist_performance_info__date_time">DATE/TIME</div>
          <div class="artist_performance_info__venue">Venue</div>
        </div>
        <div class="col-4-tablet no_padding">  
         <div class="artist_bio">I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...I am a bio test...</div>
        </div>
      </div>
    </div>
  <div>
</div>




  
 
    
 

