<div class="artist_profile container">
  <img class="artist_profile__image" src="/assets/boy.png">
  
  <div class="artist_info">
    <div class="artist_info__name">Band Name</div>
    <div class="artist_info__link">Link</div>
    <div class="artist_info__origin">Origin</div>
  </div>

  <div class="artist_performance_info">
    <div class="artist_performance_info__date_time">DATE/TIME</div>
    <div class="artist_performance_info__venue">Venue</div>
  </div>

  <div class="artist_bio">I am a bio...</div>

</div>