

<div class="header_divider_top"></div>

<div class="clear">
  <div class="page_header_left col-3">LINEUP</div>
  <div class="page_header_right col-9">Artists</div>
</div>
<div class="header_divider_bottom"></div>

<div class="artist_white_background">

<<<<<<< HEAD
  <!-- Artist Images -->
  <div class="clear artist_module">
    <img src="/assets/future_islands.jpg" class="col-6 artist_image_left">
=======
<div class="clear">

  <div class="artist_module col-6">
    <img class="artist_module__image" src="/assets/future_islands.jpg">
    <div class="artist_module__name">Future Islands</div>
    <div class="artist_module__origin">Omaha, NE</div>
  </div>

  <div class="artist_module col-6">
    <img class="artist_module__image" src="/assets/boy.png">
    <div class="artist_module__name artist_module__name--highlighted">Boy</div>
    <div class="artist_module__origin">Omaha, NE</div>
>>>>>>> master
  </div>

  <div class="artist_module col-6">
    <img class="artist_module__image" src="/assets/future_islands.jpg">
    <div class="artist_module__name">Future Islands</div>
    <div class="artist_module__origin">Omaha, NE</div>
  </div>

  <div class="artist_module col-6">
    <img class="artist_module__image" src="/assets/boy.png">
    <div class="artist_module__name">Boy</div>
    <div class="artist_module__origin">Omaha, NE</div>
  </div>

</div>




  <!-- Artist Search Box -->
  <div class="clear artist_search_box">
    <div id="artist_search_box_text">Search for a band</div>
    <div id="artist_search_box_icon"></div>
  </div>

</div>

<div class="blank_div"></div>




  
 
    
 

