

<div class="header_divider_top"></div>

<div class="clear">
  <div class="page_header_left col-3">LINEUP</div>
  <div class="page_header_right col-9">Artists</div>
</div>
<div class="header_divider_bottom"></div>

<div class="artist_white_background">
  <!-- Artist Search Box -->
  <div class="clear artist_search_box">
    <div id="artist_search_box_text">Search for a band</div>
    <div id="artist_search_box_icon"></div>
  </div>

  <!-- Artist Images -->
  <div class="clear">
    <img src="/assets/future_islands.jpg" class="col-6 artist_image_left">

    <img src="/assets/boy.png"  class="col-6 artist_image_right">
  </div>

  <!-- Artist Names -->
  <div class="clear">
    <div class="col-6">
      <div class="artist_name_left">Artist Name</div>
    </div>

    <div class="col-6">
      <div class="artist_name_right">Artist Name</div>
    </div>
  </div>

  <!-- Artist Origin -->
  <div class="clear">
    <div class="col-6">
      <div class="artist_origin_left">Artist Origin</div>
    </div>

    <div class="col-6">
      <div class="artist_origin_right">Artist Origin</div>
    </div>
  </div>
</div>

<div class="blank_div"></div>




  
 
    
 

