

<div class="header_divider_top"></div>

<div class="clear">
  <div class="page_header__left col-3">LINEUP</div>
  <div class="page_header__right col-9">Artists</div>
</div>
<div class="header_divider_bottom"></div>

<div class="artist_white_background container">


  <div class="clear artist_search_box">
    <div class="artist_search_box__icon"></div>
    <div class="artist_search_box__text">Search for a band</div>
  </div>
 
  <div class="no_padding">   
    <div class="no_padding col-6 col-4-tablet">
      <div class="artist_module">
        <img class="artist_module__image" src="/assets/boy.png">
        <div class="artist_module__name">Future Islands</div>
        <div class="artist_module__origin">Omaha, NE</div>
      </div>
    </div>

    <div class="no_padding col-6 col-4-tablet">
      <div class="artist_module">
        <img class="artist_module__image" src="/assets/boy.png">
        <div class="artist_module__name">Future Islands</div>
        <div class="artist_module__origin">Omaha, NE</div>
      </div>
    </div>

    <div class="no_padding col-6 col-4-tablet">
      <div class="artist_module">
        <img class="artist_module__image" src="/assets/boy.png">
        <div class="artist_module__name">Future Islands</div>
        <div class="artist_module__origin">Omaha, NE</div>
      </div>
    </div>

    <div class="no_padding col-6 col-4-tablet">
      <div class="artist_module">
        <img class="artist_module__image" src="/assets/boy.png">
        <div class="artist_module__name">Future Islands</div>
        <div class="artist_module__origin">Omaha, NE</div>
      </div>
    </div>
  </div>
</div>





  
 
    
 

