<div class="page_header">
  <div class="header_divider_top"></div>
  <div class="page_header__right">Comedy</div>
  <div class="page_header__left">LINEUP</div>
  <div class="header_divider_bottom"></div>
</div> 

<div class="artist_white_background">

  <div class="clear">

    <div class="artist_module col-6">
      <img class="artist_module__image" src="/assets/louie_ck.jpg">
      <div class="artist_module__name">Louis C.K.</div>
      <div class="artist_module__origin">Omaha, NE</div>
    </div>

    <div class="artist_module col-6">
      <img class="artist_module__image" src="/assets/Richard_Pryor.jpeg">
      <div class="artist_module__name artist_module__name--highlighted">Richard Pryor</div>
      <div class="artist_module__origin">Omaha, NE</div>
      </div>
  </div>
</div>
