<div class="clear">
  <div class="page_header__left page_header__left--full">ABOUT</div>
</div>

<div class="white_background">
  
  <div class="clear">

    <div class="faq">
      <div class="faq__question">I am a question about Lincoln Calling.</div>
      <div class="faq__answer">I am that question's answer.</div> 
    </div>

    <div class="faq">
      <div class="faq__question">I am a question about Lincoln Calling.</div>
      <div class="faq__answer">I am that question's answer.</div> 
    </div>

    <div class="faq">
      <div class="faq__question">I am a question about Lincoln Calling.</div>
      <div class="faq__answer">I am that question's answer.</div> 
    </div>

    <div class="faq">
      <div class="faq__question">I am a question about Lincoln Calling.</div>
      <div class="faq__answer">I am that question's answer.</div> 
    </div>
  </div>
</div>