
<div class="footer_top col-3">
  <div class="footer_top__sponsor">SPONSORS:</div>
  <div class="footer_top__sponsor_logo">LOGO</div>
  <div class="footer_top__sponsor_logo">LOGO</div>
  <div class="footer_top__sponsor_logo">LOGO</div>
</div>








