<div class="footer_top">
  <div class="footer_top footer__sponsor col-3">SPONSORS:</div>
  <div class="footer_top footer__sponsor_logo col-3">LOGO</div>
  <div class="footer_top col-3">LOGO</div>
  <div class="footer_top col-3">LOGo</div>
  <div class="footer_bottom col-12">LOGO</div>