
<body>
  <div class="headliners">
    Future Islands +<br> BOY + The Kickback
  </div>
  <div class="clear tickets">
    <div class="col-6 tickets__left">
      <div class ="tickets__left__top">
        <a href="#" class="tickets__text_top">3-DAY PASSES</a>
        <a href="#" class="tickets__text_bottom">$30</a>
      </div>
      <div class ="tickets__left__bottom">
        <a href="#" class="tickets__text_top">SATURDAY</a>
        <a href="#" class="tickets__text_bottom">$15</a>
      </div>
    </div>
    <div class="col-6 tickets__right">
      <div class ="tickets__right__top">
        <a href="#" class="tickets__text_top">FRIDAY</a>
        <a href="#" class="tickets__text_bottom">$15</a>
      </div>
      <div class ="tickets__right__bottom">
        <a href="#" class="tickets__text_top">SUNDAY</a>
        <a href="#" class="tickets__text_bottom">$15</a>
      </div>   
    </div>
  </div>



  <div class="clear home_news">
    <img src=/assets/beutler.jpg class="col-6 home_news_img">
    <div class="col-6 home_news_headlines"> MAYOR BEUTLER WILL DRINK THREE FISHBOWLS IF LINCOLN CALLING SELLS OUT
      <a href="#" class="home_more_news">see more news</a>
    </div>
  </div>

  <div class="home_emails">
    <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
    <div id="home_computer_icon"></div>
  </div>

  <div class="side_bar">
    <div class="side_bar_title">
    Festival Schedule/ Lincoln Calling 2016
    </div>
    <div class="clear dates">
      <div class="col-4 thursday">
        <a href="#" class="top_text">Thursday</a>
        <a href="#" class="bottom_text">6</a>
      </div>
      <div class="col-4 friday">
        <a href="#" class="top_text">Friday</a>
        <a href="#" class="bottom_text">7</a>
      </div>
      <div class="col-4 saturday">
        <a href="#" class="top_text">Saturday</a>
        <a href="#" class="bottom_text">8</a>
      </div>
    </div>
    <div class="concerts">
      <div class="conert_name">Artist at Venue</div>
      <div class="conert_time">6PM.</div>
      <div class="conert_name">Artist at Venue</div>
      <div class="conert_time">9PM.</div>
      <div class="conert_name">Artist at Venue</div>
      <div class="conert_time">9PM.</div>
    </div>
    <a href="#" class="full_schedule">see full schedule</a>
  </div>
</body>  



