<div class="headliners">
  Future Islands +<br> BOY + The Kickback
</div>
<div class="clear tickets">
  <div class="col-6">
    <a class="ticket ticket--odd">
      <span class="ticket__title">3-Day Passes</span>
      <span class="ticket__price">$30</span>
    </a>
  </div>

  <div class="col-6">
    <a class="ticket ticket--even ticket--sold_out">
      <span class="ticket__title">THURSDAY</span>
      <span class="ticket__price">$15</span>
    </a>
  </div>

  <div class="col-6">
    <a class="ticket ticket--odd">
      <span class="ticket__title">FRIDAY</span>
      <span class="ticket__price">$15</span>
    </a>
  </div>

  <div class="col-6">
    <a class="ticket ticket--even">
      <span class="ticket__title">SATURDAY</span>
      <span class="ticket__price">$15</span>
    </a>
  </div>
</div>



<div class="clear">
  <div class="col-8-tablet">
    <div class="clear home_news">
      <img src=/assets/beutler.jpg class="col-6 home_news_img">
      <div class="col-6 home_news_headlines"> MAYOR BEUTLER WILL DRINK THREE FISHBOWLS IF LINCOLN CALLING SELLS OUT
        <a href="#" class="home_more_news">see more news</a>
      </div>
    </div>
  </div>

  <div class="col-4-tablet">
    <div class="home_emails">
      <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
      <div id="home_computer_icon"></div>
    </div>

    <div class="side_bar">
      <div class="side_bar__title">
      Festival Schedule/ Lincoln Calling 2016
      </div>
      <div class="clear dates">
        <div class="col-4">
          <a href="#" class="day_link day_link--left day_link--selected">
            <span href="#" class="day_link__day">Thursday</span>
            <span href="#" class="day_link__date">6</span>
          </a>  
        </div>
        <div class="col-4">
          <a href="#" class="day_link day_link--mid">
            <span href="#" class="day_link__day">Friday</span>
            <span href="#" class="day_link__date">7</span>
          </a> 
        </div>
        <div class="col-4">
          <a href="#" class="day_link day_link--right">
            <span href="#" class="day_link__day">Saturday</span>
            <span href="#" class="day_link__date">8</span>
          </a>
        </div>
      </div>
      <div class="concert">
        <div class="conert__name">Artist at Venue</div>
        <div class="conert__time">6PM.</div>
        <div class="conert__name">Artist at Venue</div>
        <div class="conert__time">9PM.</div>
        <div class="conert__name">Artist at Venue</div>
        <div class="conert__time">9PM.</div>
      </div>
      <a href="#" class="full_schedule">see full schedule</a>
    </div>
  </div>
</div>