<div class="bands_and_tickets">
  <div class="bands">
    <div class="bands__headliners">
      Future Islands + BOY + The Kickback
    </div>
    <div class="bands__others">
      Jeremy Messersmith + Desert Noises + Christopher the Conquered + Jack Hotel + Twinsmith + Josh Hoyer and the Shadowboxers + AZP + A Ferrocious Jungle Cat + Lloyd McCarter and the Honky Tonk Revival
    </div>
  </div>
  <div class="clear tickets">
    <div class="col-6 col-3-tablet no_padding">
      <a class="ticket ticket--odd">
        <span class="ticket__title">3-Day Passes</span>
        <span class="ticket__price">$30</span>
      </a>
    </div>

    <div class="col-6 col-3-tablet no_padding">
      <a class="ticket ticket--even ticket--sold_out">
        <span class="ticket__title">THURSDAY</span>
        <span class="ticket__price">$15</span>
      </a>
    </div>

    <div class="col-6 col-3-tablet no_padding">
      <a class="ticket ticket--odd">
        <span class="ticket__title">FRIDAY</span>
        <span class="ticket__price">$15</span>
      </a>
    </div>

    <div class="col-6 col-3-tablet no_padding">
      <a class="ticket ticket--even">
        <span class="ticket__title">SATURDAY</span>
        <span class="ticket__price">$15</span>
      </a>
    </div>
  </div>
</div>



<div class="clear">
  <div class="col-8-tablet">
    <div class="clear home_news">
      <img src=/assets/beutler.jpg class="col-6 no_padding home_news__img">
      <div class="col-6 no_padding"> 
        <div class="home_news__headlines">
          <div class="home_news__headlines home_news__headlines--selected"> MAYOR BEUTLER WILL DRINK THREE FISHBOWLS IF LINCOLN CALLING SELLS OUT
          </div>
          <div class="home_news__headlines home_news__headlines--tablet"> THE NATIONAL AGREE TO SING NATIONAL ANTHEM, BUT ONLY IF IT'S THE ONE BY RADIOHEAD. OK.
          </div>
          <div class="home_news__headlines home_news__headlines--tablet"> PLACK BLAGUE EARNS HIS FOUTH INDECENT EXPOSURE AWARD AT LINCOLN EXPOSED.
          </div>
        </div>
      </div>

      <div class="home_news__more">
        <a href="#" class="home_news__more__text">see more news</a>
      </div>
    </div>
  </div>

  <div class="col-4-tablet no_padding">
    <div class="home_emails">
      <div id="home_computer_icon" class="icon"></div>
      <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
    </div>

    <div class="side_bar">
      <div class="side_bar__title">
      Festival Schedule/ Lincoln Calling 2016
      </div>
      <div class="clear dates">
        <div class="col-4 no_padding">
          <a href="#" class="day_link day_link--left day_link--selected">
            <span href="#" class="day_link__day">Thursday</span>
            <span href="#" class="day_link__date">6</span>
          </a>  
        </div>
        <div class="col-4 no_padding">
          <a href="#" class="day_link day_link--mid">
            <span href="#" class="day_link__day">Friday</span>
            <span href="#" class="day_link__date">7</span>
          </a> 
        </div>
        <div class="col-4 no_padding">
          <a href="#" class="day_link day_link--right">
            <span href="#" class="day_link__day">Saturday</span>
            <span href="#" class="day_link__date">8</span>
          </a>
        </div>
      </div>
      <div class="concert">
        <div class="concert__name">Artist at Venue</div>
        <div class="concert__time">6PM.</div>
        <div class="concert__name">Artist at Venue</div>
        <div class="concert__time">9PM.</div>
        <div class="concert__name">Artist at Venue</div>
        <div class="concert__time">9PM.</div>
        <div class="concert__name">Artist at Venue</div>
        <div class="concert__time">9PM.</div>
      </div>
      <a href="#" class="full_schedule">see full schedule</a>
    </div>
  </div>
</div>