<div class="row nav_bar">
  <div class="col-12">
    <div class="orange_box">
    LINCOLN CALLING
    </div>
    <div class="clear menu">
      <div class="col-4">^</div>
      <div class="col-4">CLOSE MENU</div>
      <div class="col-4">^</div>
    </div>
    <div class="row nav_bar">
      <div class="col-6 left_menu">
        <a href="#">TICKETS</a>
        <a href="#">ARTISTS</a>
        <a href="#">SCHEDULE</a>
        <a href="#">VENUE MAP</a>
      </div>
      <div class="col-6 right_menu">
        <a href="#">FAQ</a>
        <a href="#">ABOUT</a>
        <a href="#">NEWS</a>
        <a href="#">SPONSORS</a>
      </div>
      <a href="#" id="visitor">VISITORS GUIDE</a>
    </div>
  </div>
</div>
<div class="divider"></div>