
<body>
  <div class="home_headliners">
    Future Islands +<br> BOY + The Kickback
  </div>
  <div class="clear home_tickets_top">
    <div class ="col-6 home_tickets_left">
      <a href="#" class="home_ticket_text_top_left home_ticket_text_base">3-DAY PASSES</a>
      <a href="#" class="home_ticket_text_bottom_left home_ticket_text_base">$30</a>
    </div>
    <div class ="col-6 home_tickets_right">
      <a href="#" class="home_ticket_text_top_right home_ticket_text_base">FRIDAY</a>
      <a href="#" class="home_ticket_text_bottom_right home_ticket_text_base">$15</a>
    </div>
  </div>

  <div class="clear home_tickets_bottom">
    <div class ="col-6 home_tickets_left">
      <a href="#" class="home_ticket_text_top_left home_ticket_text_base">SATURDAY</a>
      <a href="#" class="home_ticket_text_bottom_left home_ticket_text_base">$15</a>
    </div>
    <div class ="col-6 home_tickets_right">
      <a href="#" class="home_ticket_text_top_right home_ticket_text_base">SUNDAY</a>
      <a href="#" class="home_ticket_text_bottom_right home_ticket_text_base">$15</a>
    </div>   
  </div>

  <div class="clear home_news">
    <img src=/assets/beutler.jpg class="col-6 home_news_img">
    <div class="col-6 home_news_headlines"> MAYOR BEUTLER WILL DRINK THREE FISHBOWLS IF LINCOLN CALLING SELLS OUT
      <a href="#" class="home_more_news">see more news</a>
    </div>
  </div>

  <div class="home_emails">
    <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
    <div id="home_computer_icon"></div>
  </div>

  <div class="side_bar">
    <div class="side_bar_title">
    Festival Schedule/ Lincoln Calling 2016
    </div>
    <div class="clear dates">
      <div class="col-4 thursday">
        <a href="#" class="top_text">Thursday</a>
        <a href="#" class="bottom_text">6</a>
      </div>
      <div class="col-4 friday">
        <a href="#" class="top_text">Friday</a>
        <a href="#" class="bottom_text">7</a>
      </div>
      <div class="col-4 saturday">
        <a href="#" class="top_text">Saturday</a>
        <a href="#" class="bottom_text">8</a>
      </div>
    </div>
    <div class="concerts">
      <div class="conert_name">Artist at Venue</div>
      <div class="conert_time">6PM.</div>
      <div class="conert_name">Artist at Venue</div>
      <div class="conert_time">9PM.</div>
      <div class="conert_name">Artist at Venue</div>
      <div class="conert_time">9PM.</div>
    </div>
    <a href="#" class="full_schedule">see full schedule</a>
  </div>
</body>  



