<div class="divider"></div>

<div class="home_headliners">
  Future Islands +<br> BOY + The Kickback
</div>
<div class="clear no-padding home_tickets_top">
  <div class ="col-6 no-padding home_tickets_left">
    <a href="#" class="home_ticket_text_top">3-DAY PASSES</a>
    <a href="#" class="home_ticket_text_bottom">$30</a>
  </div>
  <div class ="col-6 home_tickets_right">
    <a href="#" class="home_ticket_text_top">FRIDAY</a>
    <a href="#" class="home_ticket_text_bottom">$15</a>
  </div>  
</div>