 <!-- Header that tells user where they are at. -->
<div class="clear page_header">
  <div class="page_header__left col-3">INFO</div>
  <div class="page_header__right col-9">Venue Map</div>
</div>

  <!-- Show Map -->
<div class="clear map">
    <img src="/assets/map.png" class="map__image">
</div>

<div class="clear">
  <div class="col-10 venues">
    <div class="venues__actual venues__actual--selected">Bourbon Theater</div>
    <div class="venues__actual">Duffy's Tavern</div>
    <div class="venues__actual">Fat Toad</div>
    <div class="venues__actual">Bourbon Theatre</div>
    <div class="venues__actual">Duffy's Tavern</div>
    <div class="venues__actual">Fat Toad</div>
  </div>
  <div class="col-2 venues">
    <div class="teardrop">
      <div class="teardrop__color">I</div>
      <div class="teardrop__color">I</div>
      <div class="teardrop__color">I</div>
      <div class="teardrop__color">I</div>
      <div class="teardrop__color">I</div>
      <div class="teardrop__color">I</div>
  </div> 
</div>


