

<div class="clear">
  <div class="page_header_left">News</div> 
</div>

<div class="clear">
  
  <div class="news">
    <img class="news__image" src="/assets/beutler.jpg"></div>
    <div class="news__title">MAYOR BEUTLER WILL DRINK THREE FISHBOWLS IF LINCOLN CALLING SELLS OUT</div>
  </div>

  <div class="news">
    <img class="news__image" src="/assets/The_National.jpg"></div>
    <div class="news__title">THE NATIONAL AGREE TO SING NATIONAL ANTHEM, 
    BUT ONLY IF IT'S THE ONE BY...</div>
  </div>

</div>