<div class="page_header">
  <div class="page_header__right">Schedule</div>
  <div class="page_header__left">Lineup</div>
</div>

<div class="white_panel">
  <div class="schedule_header">
    <div class="day_picker">
      Day Picker
    </div>

    <div class="plan_festival_button">
      Plan Festival
    </div>
  </div>

  <div class="venue_picker">
    <div class="triangle_box float_left">
      <div class="triangle_box__triangle-left"></div>
    </div>
    <div class="venue_box float_left">  
      <div class="venue_box__text">Zoo Bar</div>
      <div class="venue_box__text venue_box__text--2">Bourbon Theatre</div>
    </div>
    <div class="triangle_box float_left">
      <div class="triangle_box__triangle-right"></div>
    </div>
    <div style="clear: both"></div>
  </div>

  <div class="schedule_lineup">
    <ul class="schedule_times">
      <li class="schedule_times__item">5 p.m.</li>
      <li class="schedule_times__item">6 p.m.</li>
      <li class="schedule_times__item">7 p.m.</li>
      <li class="schedule_times__item">8 p.m.</li>
      <li class="schedule_times__item">9 p.m.</li>
      <li class="schedule_times__item">10 p.m.</li>
      <li class="schedule_times__item">11 p.m.</li>
      <li class="schedule_times__item">12 a.m.</li>
      <li class="schedule_times__item">1 a.m.</li>
    </ul>

    <div class="venue_shows_container">
      <div class="venue_shows">
        <div class="show show--30">
          The Bottletops
        </div>

        <div class="show show--empty show--empty-30"></div>

        <div class="show show--45">
          Jack Hotel
        </div>

        <div class="show show--empty show--empty-30"></div>

        <div class="show show--45">
          Tsumi
        </div>

        <div class="show show--empty show--empty-45"></div>

        <div class="show show--60">
          Bob Dylan
        </div>
      </div>

      <div class="venue_shows venue_shows--hide-for-tablet">
        <div class="show show--all_ages show--45">
          Led Zeppelin
        </div>

        <div class="show show--empty show--empty-15"></div>

        <div class="show show--60">
          Beach Boys
        </div>

        <div class="show show--empty show--empty-30"></div>

        <div class="show show--45">
          Tsumi
        </div>

        <div class="show show--empty show--empty-45"></div>

        <div class="show show--60">
          Bob Dylan
        </div>
      </div>
    </div>

    <div style="clear: both"></div>
    
  </div>
</div>