<div class="page_header">
  <div class="header_divider_top"></div>
  <div class="page_header__right">Article Title</div>
  <div class="page_header__left">NEWS</div>
  <div class="header_divider_bottom"></div>
</div> 


<div class="clear">
  <div class="news_single_container container col-8-tablet">

    <img class="news_single__image" src="/assets/beutler.jpg">

    <div class="news_single__icon"></div>
    
    <div class="news_single__title">MAYOR BEUTLER WILL DRINK THREE FISHBOWLS IF LINCOLN CALLING SELLS OUT</div>

    <div class="news_single__byline">by Bob</div>
    
    <div class="news_single__content">Lorem ipsum dolor sit amet, voluptua elaboraret mel an, te graeco molestie voluptatibus pro. Ad pri convenire liberavisse, sea adhuc ludus et, diam labore argumentum no vim. Eos nemore atomorum iudicabit at, eam ut veritus accusata dissentias. Duo aliquid debitis ea, at has agam causae. Scripta honestatis eam in, at everti iracundia per, ad mei quidam albucius laboramus.udem ocurreret pro at, dico feugait urbanitas et per.
    </div>

    <div class="writer clear">
      <img class="writer__image" src="/assets/bobde.jpg">
      <div class="writer__info">I am a blurb about the writer</div>
    </div>

    <div class="social_footer__top"></div>
    <div class="social_footer__right icon"> </div>
    <div class="social_footer__left">SHARE</div>
    <div class="social_footer__bottom"></div>
  </div>

  <div class="col-4-tablet">
    <div class="home_emails">
      <div id="home_computer_icon" class="icon"></div>
      <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
    </div>
  </div>

      <!-- Show Sidebar -->
  <div class="col-4-tablet no_padding">
    <div class="side_bar">
      <div class="side_bar__title">
      Festival Schedule/ Lincoln Calling 2016
      </div>
      <div class="clear dates">
        <div class="col-4 no_padding">
          <a href="#" class="day_link day_link--left day_link--selected">
            <span href="#" class="day_link__day">Thursday</span>
            <span href="#" class="day_link__date">6</span>
          </a>  
        </div>
        <div class="col-4 no_padding">
          <a href="#" class="day_link day_link--mid">
            <span href="#" class="day_link__day">Friday</span>
            <span href="#" class="day_link__date">7</span>
          </a> 
        </div>
        <div class="col-4 no_padding">
          <a href="#" class="day_link day_link--right">
            <span href="#" class="day_link__day">Saturday</span>
            <span href="#" class="day_link__date">8</span>
          </a>
        </div>
      </div>
      <div class="concert">
        <div class="concert__name">Artist at Venue</div>
        <div class="concert__time">6PM.</div>
        <div class="concert__name">Artist at Venue</div>
        <div class="concert__time">9PM.</div>
        <div class="concert__name">Artist at Venue</div>
        <div class="concert__time">9PM.</div>
      </div>
      <a href="#" class="full_schedule">see full schedule</a>
    </div>
  </div>
</div>




