<div class="page_header__left container-tablet">NEWS</div>

<img class="news__image" src="/assets/beutler.jpg"></div>

<div class="news_container container">
  
  <div class="news_single__title">MAYOR BEUTLER WILL DRINK THREE FISHBOWLS IF LINCOLN CALLING SELLS OUT</div>
  
  <div class="news_single__content">Lorem ipsum dolor sit amet, voluptua elaboraret mel an, te graeco molestie voluptatibus pro. Ad pri convenire liberavisse, sea adhuc ludus et, diam labore argumentum no vim. Eos nemore atomorum iudicabit at, eam ut veritus accusata dissentias. Duo aliquid debitis ea, at has agam causae. Scripta honestatis eam in, at everti iracundia per, ad mei quidam albucius laboramus.udem ocurreret pro at, dico feugait urbanitas et per.
  </div>
</div>