<div class="page_header">
  <div class="header_divider_top"></div>
  <div class="page_header__right">Article Title</div>
  <div class="page_header__left">NEWS</div>
  <div class="header_divider_bottom"></div>
</div>


<div class="clear">
  <div class="news_single_container container col-8-tablet">

    <img class="news_single__image" src="/assets/beutler.jpg">

    <div class="news_single__icon"></div>
    
    <div class="news_single__title">MAYOR BEUTLER WILL DRINK THREE FISHBOWLS IF LINCOLN CALLING SELLS OUT</div>

    <div class="news_single__byline">by Bob</div>
    
    <div class="news_single__content">Lorem ipsum dolor sit amet, voluptua elaboraret mel an, te graeco molestie voluptatibus pro. Ad pri convenire liberavisse, sea adhuc ludus et, diam labore argumentum no vim. Eos nemore atomorum iudicabit at, eam ut veritus accusata dissentias. Duo aliquid debitis ea, at has agam causae. Scripta honestatis eam in, at everti iracundia per, ad mei quidam albucius laboramus.udem ocurreret pro at, dico feugait urbanitas et per.
    </div>

    <div class="writer clear">
      <img class="writer__image" src="/assets/bobde.jpg">
      <div class="writer__info">I am a blurb about the writer</div>
    </div>

    <div class="social_footer__top"></div>
    <div class="social_footer__right icon"> </div>
    <div class="social_footer__left">SHARE</div>
    <div class="social_footer__bottom"></div>
  </div>

  <div class="col-4-tablet">
    <div class="home_emails">
      <div id="home_computer_icon" class="icon"></div>
      <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
    </div>
  </div>
</div>



