<div class="clear">
  <div class="page_header__left">SPONSORS</div>
</div>
<div class="col-12">
  <a href="http://www.firespring.com/" class="primary_sponsor">
    <img src="/assets/firespring.png" class="primary_sponsor__logo">
    <span class="primary_sponsor__name">Firespring</span>
    <span class="primary_sponsor__description">Describe Firespring Here</span>
  </a>
</div>