<div class="clear">
  <div class="page_header__left">SPONSORS</div>
</div>
<!-- Sponsor module -->
<div>
  <a href="http://www.firespring.com/" class="primary_sponsor">
    <img src="/assets/firespring.png" class="primary_sponsor__logo">
    <span class="primary_sponsor__name">Firespring</span>
    <span class="primary_sponsor__description">Describe Firespring Here</span>
  </a>
</div>

<!-- Sponsor module -->
<div>
  <a href="http://www.hudl.com/" class="primary_sponsor">
    <img src="/assets/hudl.png" class="primary_sponsor__logo">
    <span class="primary_sponsor__name">Hudl</span>
    <span class="primary_sponsor__description">Describe Hudl Here</span>
  </a>
</div>

<!-- Sponsor module -->
<div>
  <a href="https://www.bulubox.com/" class="primary_sponsor">
    <img src="/assets/bulubox.jpg" class="primary_sponsor__logo">
    <span class="primary_sponsor__name">Bulu Box</span>
    <span class="primary_sponsor__description">Describe Bulu Box Here</span>
  </a>
</div>