<div class="venue_map_link venue_map_link--little_spacing">
  <div class="venue_map_link__pin">
    <div class="venue_map_link__pin-image">Pin</div>
  </div>
  <div class="venue_map_link__name">Bourbon Theater</div>

  <div style="clear: both"></div>
</div>

<div class="venue_map_link venue_map_link--little_spacing">
  <div class="venue_map_link__pin">
    <div class="venue_map_link__pin-image venue_map_link__pin--cat">Pin</div>
  </div>
  <div class="venue_map_link__name">Bourbon Theater</div>

  <div style="clear: both"></div>
</div>

<div class="venue_map_link venue_map_link--little_spacing">
  <div class="venue_map_link__pin">
    <div class="venue_map_link__pin-image venue_map_link__pin--sport">Pin</div>
  </div>

  <div class="venue_map_link__name">Bourbon Theater</div>

  <div style="clear: both"></div>
</div>

<style type="text/css">
  .venue_map_link{
    background: #999;
    margin-bottom: 0;
  }
  .venue_map_link.venue_map_link--little_spacing{
    margin-bottom: 10px;
  }

  .venue_map_link__name{
    position: relative;
    top: 18px;
    padding: 0 12px;
  }

  .venue_map_link__pin{
    display: block;
    float: right;
    background: #666;
    padding: 12px;
  }

  .venue_map_link__pin-image{
    background: url("http://lorempixel.com/23/30/");
    height: 0;
    padding-top: 30px;
    /*overflow: hidden;*/
    width: 23px;
  }

  .venue_map_link__pin-image.venue_map_link__pin--cat{
    background: url("http://lorempixel.com/23/30/cats/");
  }

  .venue_map_link__pin-image.venue_map_link__pin--sport{
    background: url("http://lorempixel.com/23/30/sports/");
  }
</style>

<!-- 
BLOCK
  Element 1
  Element 2

BLOCK
  Element 1
  Element 2 (Pink)

BLOCK
  Element 1
  Element 2 (Orange)

BLOCK (active)
  Element 1
  Element 2 (Orange)
-->  