<div class="venue_profile container">
  <div class="extra_gutter">
    
    <div class="venue_info">
      <div class="venue_info__name">Bourbon Theater</div>
      <div class="venue_info__link">Link</div>
      <div class="venue_info__address">123 Main St.</div>
    </div>

    <img class="venue_profile__image" src="/assets/Bourbon_Theater.png">

    <div class="venue_bio">I am a bio...</div>
  </div>
</div>