
<div class="clear">
  <div class="page_header__left page_header__left--full">VISITORS GUIDE</div>
</div>

<div class="clear">
  
  <div class="visitor_guide">
    <img class="visitor_guide__image" src="/assets/lincoln.jpg"></div>
    <div class="visitor_guide__title">WELCOME TO LINCOLN...</div>
  </div>

  <div class="visitor_guide">
    <img class="visitor_guide__image" src="/assets/lincoln.jpg"></div>
    <div class="visitor_guide__title">IF YOU LIKE BBQ, THEN YOU MIGHT WANT TO HEAD DOWN TO THE HISTORIC HAYMARKET...</div>
  </div>

</div>