<%#
# Edit

This view is the template for the edit page.

It displays a header, and renders the `_form` partial to do the heavy lifting.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to help display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<% content_for(:title) { "Edit #{page.page_title}" } %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= link_to(
      "Show #{page.page_title}",
      [namespace, page.resource],
      class: "button",
    ) %>
  </div>
</header>
<div class="instructions"><p>Please include a complete address.<br>
  EXAMPLE: "12345 Main Street. Lincoln, NE"<br><br>
  Map Icon assets are located in the project assets folder<br>
   Make sure to include one when adding a Venue.<br>
  /lincoln-calling/app/assets/images/map_icons</p></div>


<%= render "form", page: page %>
