<div class="body__title">
    <div class="title__parent">
        <p>
            <strong><%= category %></strong>
            <% if page != nil %>
                <span></span>
            <% end %>
        </p>
    </div>
    <% if page != nil %>
        <div class="title__page">
            <p><%= page %></p>
        </div>
    <% end %>
</div>
