.body__content {
    padding: 1.5625rem;
    background-color: $white;
}

.main__content {
    position: relative;
}

@media only screen and (min-width: 800px) {
    .body__content {
        background-color: $white;
    }
    .main__content {
        @include flexbox();
        @include flexbox-justify-content(space-between);
    }
    .content__content {
        width: 66%;
    }
    .content__divider {
        position: absolute;
        top: 0;
        left: 67.5%;
        width: .1rem;
        height: 100%;
        background-color: $light;
    }
}
