.body__footer {
    margin-top: (20rem / 16);
    padding: (38rem / 16) (28rem / 16);
    background-color: $secondary;
}

.footer__sponsors {
    @include flexbox();
    @include flexbox-justify-content(center);
    @include flexbox-align-items(center);
    margin-bottom: (16rem / 16);
    .sponsors__sponsors {
        @include flexbox();
        @include flexbox-align-items(center);
        .sponsors__sponsor {
            margin: 0 (8rem / 16);
        }
    }
}

.footer__code-school {
    @include flexbox();
    @include flexbox-justify-content(center);
    @include flexbox-align-items(center);
    .code-school__label {
        margin-right: (8rem / 16);
    }
}

.sponsors__label,
.code-school__label {
    font-family: 'Yanone';
    font-size: (22rem / 16);
}

@media only screen and (min-width: 800px) {
    .body__footer {
        @include flexbox();
        @include flexbox-justify-content(space-between);
        @include flexbox-align-items(center);
        margin-top: (25rem / 16);
    }
    .footer__sponsors {
        @include flexbox-justify-content(flex-start);
        margin-bottom: 0;
    }
    .footer__code-school {
        @include flexbox-justify-content(flex-start);
    }
}
