.body__footer {
    margin-top: (20rem / 16);
    padding: 4rem 1.75rem 1rem 1.75rem;
    background-color: $midDark;
}

.footer__sponsors {
    .sponsors__sponsors {
        .sponsors__sponsor {
            margin: 0 auto 2rem auto;
            width: 50%;
            img {
                width: 100%;
            }
        }
        .sponsors__sponsor.premier {
            width: 70%;
        }
    }
}

.footer__code-school {
    @include flexbox-justify-content(flex-start);
    @include flexbox();
    @include flexbox-align-items(center);
    .code-school__label {
        margin-right: (8rem / 16);
        width: 9rem;
        text-align: right;
    }
}

.sponsors__label,
.code-school__label {
    font-size: (22rem / 16);
}

@media only screen and (min-width: 500px) {
    .body__footer {
        @include flexbox();
        @include flexbox-justify-content(space-between);
        @include flexbox-align-items(center);
        padding: 1rem 1.75rem;
    }
    .footer__sponsors {
        @include flexbox();
        @include flexbox-align-items(center);
        @include flexbox-justify-content(flex-start);
        .sponsors__sponsors {
            @include flexbox();
            @include flexbox-align-items(center);
            .sponsors__sponsor {
                width: 25%;
                margin: 0;
            }
            .sponsors__sponsor.premier {
                width: 30%;
                margin-right: 2rem;
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .body__footer {
        margin-top: (25rem / 16);
    }
    .footer__sponsors {
        margin-bottom: 0;
        .sponsors__sponsors {
            @include flexbox();
            @include flexbox-align-items(center);
            .sponsors__sponsor {
                width: 20%;
            }
        }
    }
}
