.main__hero {
    @include background-2x(image_url('hero-background_2x.png'));
    margin-bottom: (20rem / 16);
    padding: (32rem / 16) (18rem / 16);
    background-color: $secondary;
    background-image: image_url('hero-background.png');
    background-repeat: repeat-x;
    background-position: 50% 0%;
    background-size: cover;
}

.hero__headliners {
    text-align: center;
    h2 {
        padding: 0 (32rem / 16);
        font-weight: bold;
        a {
            color: $white;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
}

.hero__supporting {
    display: none;
}

.hero__tickets {
    @include flexbox();
    @include flexbox-justify-content(space-between);
    @include flexbox-flex-wrap(wrap);
    max-width: 550px;
    margin: (38rem / 16) auto 0;
}

.tickets__ticket {
    position: relative;
    width: calc(50% - .5rem);
    margin-bottom: (16rem / 16);
    padding: (10rem / 16);
    background-color: $primary;
    border: 2px solid $primary;
    text-align: center;
    transition-duration: .1s;
    &:hover {
        border: 2px solid $white;
        cursor: pointer;
    }
    .sold-out__label {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        width: 90%;
        margin: 0 auto;
        -ms-transform: translate(0, -50%) rotate(10deg);
        -webkit-transform: translate(0, -50%) rotate(10deg);
        transform: translate(0, -50%) rotate(10deg);
        background-color: $dark;
        font-size: (34rem / 16);
        font-weight: bold;
    }
    &.sold-out {
        background-color: $light;
        cursor: default;
        border: 0;
        &:nth-of-type(2) {
            .sold-out__label {
                -ms-transform: translate(0, -50%) rotate(-8deg);
                -webkit-transform: translate(0, -50%) rotate(-8deg);
                transform: translate(0, -50%) rotate(-8deg);
            }
        }
        &:hover {
            cursor: default;
        }
    }
    h3 {
        text-transform: uppercase;
    }
}

.content--news {
    @include flexbox();
    .news__images,
    .news__headlines {
        width: 50%;
    }
    .news__images {
        position: relative;
    }
    .images__news {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-position: 50% 50%;
        background-size: cover;
        &.active {
            opacity: 1;
        }
    }
    .news__headlines {
        position: relative;
        padding: (16rem / 16);
        background-color: $white;
        h4 {
            color: $dark;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            &.active {
                color: $primary;
            }
        }
    }
    .headlines__see-more-news {
        position: absolute;
        right: 1rem;
        bottom: 0.3125rem;
        display: block;
        font-size: (18rem / 16);
        text-align: right;
        text-decoration: underline;
        a {
            color: $dark;
            font-size: .9rem;
            &:hover {
                color: $primary;
            }
        }
        span {
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 800px) {
    .main__hero {
        margin-bottom: (25rem / 16);
        padding: (18rem / 16);
    }
    .hero__supporting {
        display: block;
        margin-top: (18rem / 16);
        padding: 0 (100rem / 16);
        text-align: center;
        h5 {
            margin: 0;
            font-weight: bold;
            line-height: (44rem / 16);
            a {
                color: $white;
                text-decoration: none;
                transition-duration: .1s;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

@media only screen and (min-width: 950px) {
    .hero__tickets {
        max-width: none;
    }
    .tickets__ticket {
        width: calc(25% - 2.5rem);
        margin-bottom: 0;
    }
}
