.main__hero {
    @include background-2x(image_url('soundwaves_2x.png'));
    margin-bottom: (20rem / 16);
    padding: (32rem / 16) (18rem / 16);
    background-color: $secondary;
    background-image: image_url('soundwaves.png');
    background-repeat: repeat-x;
    background-position: 0 (42rem / 16);
    background-size: 70px;
}

.hero__headliners {
    text-align: center;
    h2 {
        margin: 0;
        padding: 0 (32rem / 16);
        font-family: 'Yanone';
        font-size: (52rem / 16);
        font-weight: bold;
        a {
            color: $white;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
}

.hero__supporting {
    display: none;
}

.hero__tickets {
    @include flexbox();
    @include flexbox-justify-content(space-between);
    @include flexbox-flex-wrap(wrap);
    max-width: 550px;
    margin: (38rem / 16) auto 0;
}

.tickets__ticket {
    position: relative;
    width: calc(50% - .5rem);
    margin-bottom: (16rem / 16);
    padding: (13rem / 16) (16rem / 16);
    background-color: $primary;
    text-align: center;
    transition-duration: .25s;
    &:hover {
        background-color: $dark;
        cursor: pointer;
    }
    h3 {
        margin: 0;
        font-family: 'Yanone';
        font-size: (35rem / 16);
        font-weight: bold;
    }
    h2 {
        margin: 0;
        font-size: (58rem / 16);
    }
    .sold-out__label {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        width: 90%;
        margin: 0 auto;
        -ms-transform: translate(0, -50%) rotate(10deg);
        -webkit-transform: translate(0, -50%) rotate(10deg);
        transform: translate(0, -50%) rotate(10deg);
        background-color: $dark;
        font-family: 'Yanone';
        font-size: (34rem / 16);
        font-weight: bold;
    }
    &.sold-out {
        background-color: $light;
        cursor: default;
        &:nth-of-type(2) {
            .sold-out__label {
                -ms-transform: translate(0, -50%) rotate(-8deg);
                -webkit-transform: translate(0, -50%) rotate(-8deg);
                transform: translate(0, -50%) rotate(-8deg);
            }
        }
        &:hover {
            cursor: default;
        }
    }
}

.news-sidebar__news {
    @include flexbox();
    .news__images,
    .news__headlines {
        width: 50%;
    }
    .news__images {
        position: relative;
    }
    .images__news {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-position: 50% 50%;
        background-size: cover;
        &.active {
            opacity: 1;
        }
    }
    .news__headlines {
        padding: (16rem / 16);
        background-color: $white;
        h3 {
            color: $dark;
            font-family: 'Yanone';
            font-size: (22rem / 16);
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            &.active {
                color: $primary;
            }
        }
    }
    .headlines__see-more-news {
        display: block;
        font-family: 'Yanone';
        font-size: (18rem / 16);
        text-align: right;
        text-decoration: underline;
        a {
            color: $dark;
            &:hover {
                color: $primary;
            }
        }
        span {
            cursor: pointer;
        }
    }
}

.news-sidebar__sidebar {
    position: relative;
}

.sidebar__email {
    @include flexbox();
    @include flexbox-justify-content(space-between);
    width: 95%;
    margin: (20rem / 16) auto;
    border: .15rem solid $light;
    background-color: $white;
    color: $dark;
    font-family: 'Yanone';
    font-size: (22rem / 16);
    font-weight: bold;
    span {
        padding: (11rem / 16);
    }
    .email__image {
        @include background-2x(image_url('computer_2x.png'));
        position: relative;
        width: 22%;
        max-width: 51px;
        background-image: image_url('computer.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
    }
}

.calendar__heading {
    padding: (11rem / 16);
    background-color: $secondary;
    h5 {
        margin: 0;
        font-family: 'Yanone';
        font-weight: lighter;
    }
}

.calendar__days {
    @include flexbox();
    @include flexbox-justify-content(space-between);
    padding: (11rem / 16);
    background-color: $light;
    text-align: center;
    h4,
    h5 {
        margin: 0;
        font-family: 'Yanone';
    }
    h4 {
        font-size: (27rem / 16);
        font-weight: bold;
    }
    h5 {
        font-size: (18rem / 16);
    }
    .days__day {
        width: 30%;
        padding: (7rem / 16);
        background-color: $secondary;
        cursor: pointer;
        &.active {
            background-color: $primary;
            cursor: default;
        }
    }
}

.calendar__shows {
    position: relative;
    background-color: $white;
    overflow: scroll;
    .shows__show {
        display: none;
        max-height: 10rem;
        min-height: 15rem;
        padding: (11rem / 16) (11rem / 16) (15rem / 16);
        &.active {
            display: block;
        }
        p {
            margin: 0 0 (7rem / 16);
            color: $secondary;
            font-family: 'Yanone';
            font-size: (18rem / 16);
            span {
                font-weight: lighter;
                font-size: (14rem / 16);
            }
            &:nth-last-of-type(1) {
                margin-bottom: (48rem / 16);
            }
            &:hover {
                color: $primary;
                cursor: pointer;
            }
        }
    }
}

.sidebar__full-schedule {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: (5rem / 16) (17rem / 16);
    background-color: $light;
    text-align: right;
    span {
        a {
            color: $dark;
            font-family: 'Yanone';
            text-decoration: underline;
            &:hover {
                color: $primary;
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .main__hero {
        @include background-2x(image_url('big-soundwaves_2x.png'));
        margin-bottom: (25rem / 16);
        padding: (18rem / 16);
        background-image: image_url('big-soundwaves.png');
        background-size: 84px;
    }
    .hero__supporting {
        display: block;
        margin-top: (18rem / 16);
        padding: 0 (100rem / 16);
        text-align: center;
        h5 {
            margin: 0;
            font-family: 'Yanone';
            font-size: (34rem / 16);
            font-weight: bold;
            line-height: (44rem / 16);
            a {
                color: $white;
                text-decoration: none;
                transition-duration: .1s;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    .news-sidebar__news {
        width: 66%;
    }
    .main__news-sidebar {
        @include flexbox();
        @include flexbox-justify-content(space-between);
        position: relative;
    }
    .news-sidebar__divider {
        position: absolute;
        top: 0;
        left: 67.5%;
        width: .1rem;
        height: 100%;
        background-color: $light;
    }
    .news-sidebar__sidebar {
        width: 31%;
    }
    .sidebar__email {
        width: 100%;
        margin-top: 0;
        margin-bottom: (16rem / 16);
        &:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 950px) {
    .hero__tickets {
        max-width: none;
    }
    .tickets__ticket {
        width: calc(25% - 2.5rem);
        margin-bottom: 0;
    }
}
