.main__hero {
    @include background-2x(image_url('hero-background_2x.png'));
    margin-bottom: (20rem / 16);
    padding: (32rem / 16) (18rem / 16);
    background-color: $secondary;
    background-image: image_url('hero-background.png');
    background-repeat: repeat-x;
    background-position: 50% 0%;
    background-size: cover;
}

.hero__headliners,
.tickets__link {
    text-align: center;
    h2 {
        margin: .95rem 0 0;
        padding: 0 (32rem / 16);
        font-weight: bold;
        cursor: default;
        a {
            color: $white;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
}

.hero__supporting {
    padding: 0 (100rem / 16);
    text-align: center;
    h3 {
        cursor: default;
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
        line-height: (44rem / 16);
        a {
            color: $white;
            text-decoration: none;
            transition-duration: .1s;
            &:hover {
                color: $primary;
            }
        }
    }
}

.hero__tickets {
    max-width: 550px;
    margin: (38rem / 16) auto 0;
}

.tickets__header {
    background-color: $black;
    text-align: center;
    padding: 5px;
    p {
        color: $white;
        font-weight: 900;
        margin: 0;
    }
}

.tickets--container {
    background-color: $midLight;
    margin-bottom: .75rem;
}

.ticket--container {
    padding: 0 0.625rem;
}

.tickets__ticket {
    position: relative;
    padding: 0.75rem 0.625rem 0.75rem 0.625rem;
    text-align: center;
    transition-duration: .1s;
    border-bottom: 2px solid #777777;
    p {
        a {
            color: $white;
        }
    }
    &:hover {
        cursor: pointer;
    }
    &:hover {
        h2,
        h3 {
            color: $primary;
        }
        &:hover {
            cursor: default;
        }
    }
    &.sold-out {
        h2,
        h3 {
            color: $white;
            text-decoration: line-through;
        }
    }
    &.not-yet-available {
        h2,
        h3 {
            color: #777777;
        }
        &:hover {
            cursor: default;
            h2,
            h3 {
                color: #777777;
            }
        }
    }
    h2 {
        font-size: (26rem / 16);
        margin: 0;
        transition-duration: .2s;
    }
    h3 {
        font-family: 'GT Walsheim Regular';
        font-size: (18rem / 16);
        margin: 5px 0 0 0;
        transition-duration: .2s;
    }
    &:nth-last-of-type(1) {
        border-bottom: 0;
    }
}

.tickets__button {
    width: 90%;
    margin: 10px auto 0 auto;
    padding: (8rem / 16);
    border-radius: 6px;
    background-color: $midDark;
    text-align: center;
}

.content--news {
    @include flexbox();
    .news__images,
    .news__headlines {
        width: 50%;
    }
    .news__images {
        position: relative;
    }
    .images__news {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-position: 50% 50%;
        background-size: cover;
        &.active {
            opacity: 1;
        }
    }
    .news__headlines {
        position: relative;
        padding: (16rem / 16);
        background-color: $white;
        h4 {
            color: $dark;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            &.active {
                color: $primary;
            }
        }
    }
    .headlines__see-more-news {
        position: absolute;
        right: 1rem;
        bottom: 0.3125rem;
        display: block;
        font-size: (18rem / 16);
        text-align: right;
        text-decoration: underline;
        a {
            color: $dark;
            font-size: .9rem;
            &:hover {
                color: $primary;
            }
        }
        span {
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 800px) {
    .main__hero {
        margin-bottom: (25rem / 16);
        padding: (18rem / 16);
    }
    .tickets--container {
        width: calc(45% - .75rem);
        margin-right: .75rem;
    }
    .tickets--container:nth-last-of-type(1) {
        margin-right: 0;
    }
    .hero__tickets {
        @include flexbox();
        @include flexbox-justify-content(center);
        @include flexbox-flex-wrap(wrap);
    }
}

@media only screen and (min-width: 950px) {
    .tickets--container {
        margin-bottom: 0;
    }
}
