.body__title {
    @include flexbox();
    @include flexbox-align-items(center);
    position: relative;
    margin-bottom: (25rem / 16);
    padding: (8rem / 16) (15rem / 16);
    background-color: $light;
    z-index: 0;
    .title__parent {
        p {
            position: relative;
        }
    }
    strong {
        padding-right: (15rem / 16);
    }
    span {
        width: (2rem / 16);
        background-color: white;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    p {
        margin: 0;
        padding-left: (15rem / 16);
        color: $secondary;
    }
}
