.body__title {
    @include flexbox();
    @include flexbox-align-items(center);
    padding: (8rem / 16) (15rem / 16);
    background-color: $light;
    h3 {
        padding-right: (15rem / 16);
        font-family: 'Yanone Kaffeesatz';
        font-size: (26rem / 16);
        border-right: (2rem / 16) solid $white;
    }
    h4 {
        padding-left: (15rem / 16);
        font-family: 'Yanone Kaffeesatz';
        font-size: (26rem / 16);
        font-weight: 300;
    }
    h3,
    h4 {
        margin: 0;
        color: $secondary;
    }
}