.artist_profile__scroll_bar::-webkit-scrollbar
{
    width: 0px;
}
.artist_profile__scroll_bar::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
}

.visible{
  display: none;
}

.overlay{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); 
}

.artist_profile {
  background-color: #8f8f8f;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  max-height: 100%;
  display:inline-block;
  margin: 3%;
}

.artist_profile__image {
  width: 100%;
  margin-top: 30px;
  border-top: solid 15px;
  border-color: #565351;
  float: left;
}

.artist_info {
  background-color: #8f8f8f;
  color: white;
  text-align: left;
  border-bottom: solid 3px;
  border-color: #565351;
  padding: 10px 0; 
}

.artist_info__name {
  font-family: Oswald;
  font-size: 30px;
}

.artist_info__link {
  font-family: Yanone Kaffeesatz;
  font-weight: 100;
}

.artist_info__origin {
  font-family: Yanone Kaffeesatz;
  font-weight: 100;
}

.artist_performance_info {
  color: white;
  text-align: left;
  padding: 10px 0;
  border-bottom: solid 3px;
  border-color: #565351;
  font-family: Yanone Kaffeesatz; 
}

.artist_bio {
  color: white;
  text-align: left;
  padding: 25px 15px 0 0;
}

.artist_profile__scroll_bar{
  background:transparent;
  overflow: scroll;
  height: 100%;
  margin-top: 20px;
  float: left;
}

.close_button {
  display: block;
  position: absolute;
  top: px;
  color: #ff8110;
  background-color: #dddddd;
  font-size: 25px;
  right: 0px; 

}


@media (min-width: $breakpoint-tablet) {

  .artist_profile {
    background-color: #8f8f8f;
    overflow: hidden;
    border-top: solid 15px;
    border-color: #565351;
    margin: 8%;
  }

  .artist_profile__image {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    border-top: 0px;
    border-color: none;
    float: left;
  }
  .artist_profile__scroll_bar {
    overflow: scroll;
    height: 100%;
    width: 100%;
    border-top: 0px;
    max-width: 41%;
    margin-top: 20px;
  }

  .artist_bio {
    padding-top: 10px;
  }

  .close_button {
    display: block;
    position: absolute;
    top: px;
    right: 0px;
    color: #ff8110;
    background-color: #dddddd;
    font-size: 25px; 
    text-align: center;
  }
}
