.artist_profile {
  background-color: #8f8f8f;
  overflow: hidden;
  position: relative;
}

.artist_profile__image {
  display: block;
  width: 100%;
  margin-top: 30px;
  border-top: solid 15px;
  border-color: #565351;
  float: left;
}

.artist_info {
  background-color: #8f8f8f;
  color: white;
  text-align: left;
  border-bottom: solid 3px;
  border-color: #565351;
  padding: 10px 0; 
}

.artist_info__name {
  font-family: Oswald;
  font-size: 30px;
}

.artist_info__link {
  font-family: Yanone Kaffeesatz;
  font-weight: 100;
}

.artist_info__origin {
  font-family: Yanone Kaffeesatz;
  font-weight: 100;
}

.artist_performance_info {
  background-color: #8f8f8f;
  color: white;
  text-align: left;
  padding: 10px 0;
  border-bottom: solid 3px;
  border-color: #565351;
  font-family: Yanone Kaffeesatz; 
}

.artist_bio {
  background-color: #8f8f8f;
  color: white;
  text-align: left;
  padding: 25px 0;
}

.close_button {
  display: none;
}

@media (min-width: $breakpoint-tablet) {

  .artist_profile {
  background-color: #8f8f8f;
  overflow: hidden;
  border-top: solid 15px;
  border-color: #565351;
  }

  .artist_profile__image {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  border-top: 0px;
  border-color: none;
  float: left;
  }

  .artist_info__name {
  padding-top: 25px;
  }

  .artist_bio {
  padding-top: 10px;
  }

  .close_button {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    background-color: #dddddd;
    font-size: 50px; 
  }


}
