.footer_top{
  background-color: #565351;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.footer_top__sponsor_text {
  font-size: 12px;
  font-family: Oswald;
  text-align: center;
}

.footer_bottom__site_creator {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer_bottom {
  background-color: #565351;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: $breakpoint-tablet) {

  .footer_top__sponsor_text {
  font-size: 25px;
  }
  .footer_top {
  font-size: 50px;
  }  
}
