.footer_top{
  background-color: #565351;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  font-family: Oswald;
}

.footer_bottom {
  background-color: #565351;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 50px;
}
