@import "_variables";
@import "_resets";
@import "_grid";

.border{
  border: 2px solid red;
}
.orange_box{
  padding: 10px 0px 10px 0px;
  background-color: #ff8110;
  color: white;
  text-align: center;
}
