@import "_variables";
@import "_resets";
@import "_grid";
@import "_fonts";
@import "_icons";

.border{
  border: 2px solid red;
}
.orange_box{
  font-family: Montserrat;
  padding: 10px 0px 10px 0px;
  background-color: #ff8110;
  color: white;
  text-align: center;
  font-size: 40px;
  text-shadow: 3px 6px #8f8f8f;
}
.menu{
  font-family: Oswald;
  padding: 10px 0px 10px 0px;
  background-color: #565351;
  color: white;
  text-align: center;
  font-size: 20px;
}
.left_menu{
  padding: 10px 0px 0px 0px;
  background-color: #565351;
  color: white;
  font-size: 20px;
}
.right_menu{
  padding: 10px 0px 0px 0px;
  background-color: #565351;
  color: white;
  font-size: 20px;
}
a{
  font-family: Oswald;
  padding-left: 30px;
  padding-bottom: 14px;
  display: block;
  color: white;
  text-decoration: none;
}
#visitor{
  background-color: #565351;
  color: white;
  font-size: 20px;
  padding-bottom: 15px;
}
.arrow-up {
  margin-top: 10px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid white;
}
.divider{
  padding: 20px 0px 10px 0px;
  background-color: red;
}
.home_headliners{
  font-family: Yanone Kaffeesatz;
  background-color: #565351;
  color: white;
  font-size: 40px;
  text-align: center; 
}
.home_tickets_left{
  background-color: #565351;
  
}
.home_tickets_right{
  background-color: #565351;
}
.home_ticket_text_base{
  background-color: #ff8110;
  color: white;
  text-align: center;
}
.home_ticket_text_top_left{
  padding: 20px 0px 0px 0px;
  margin: 0px 7.5px 0px 15px;
  font-size: 30px;
}
.home_ticket_text_bottom_left{
  margin: 0px 7.5px 0px 15px;
  font-size: 60px;
  padding: 0px 0px 0px 0px;
}
.home_ticket_text_top_right{
  padding: 20px 0px 0px 0px;
  padding-left: 0px;
  margin: 0px 15px 0px 7.5px;
  font-size: 30px;
}
.home_ticket_text_bottom_right{
  margin: 0px 15px 0px 7.5px;
  font-size: 60px;
  padding: 0px 0px 0px 0px;
}
.col-6{
  padding: 0px
}











