@import "_variables";
@import "_resets";
@import "_grid";
@import "_fonts";
@import "_icons";

.border{
  border: 2px solid red;
}
.orange_box{
  font-family: Montserrat;
  padding: 10px 0px 10px 0px;
  background-color: #ff8110;
  color: white;
  text-align: center;
  font-size: 40px;
  text-shadow: 3px 6px #8f8f8f;
}
.menu{
  font-family: Oswald;
  padding: 10px 0px 10px 0px;
  background-color: #565351;
  color: white;
  text-align: center;
  font-size: 20px;
}
.left_menu{
  padding: 10px 0px 0px 0px;
  background-color: #565351;
  color: white;
  font-size: 20px;
}
.right_menu{
  padding: 10px 0px 0px 0px;
  background-color: #565351;
  color: white;
  font-size: 20px;
}
a{
  font-family: Oswald;
  padding-left: 30px;
  padding-bottom: 14px;
  display: block;
  color: white;
  text-decoration: none;
}
#visitor{
  background-color: #565351;
  color: white;
  font-size: 20px;
  padding-bottom: 15px;
}
.arrow-up {
  margin-top: 10px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid white;
}
body{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATUlEQVQYV2NkQAN37979DxJSVlZmRJZC4YAUwRQgs0Ea4ArRJUCSyGJghdgUwayFyTHiU4SsmHiFRFuN7hbkIMHwDDbFOIMHWTG2AAcADK5HN3l5s5EAAAAASUVORK5CYII=) repeat;
}
.home_headliners{
  font-family: Yanone Kaffeesatz;
  background-color: #565351;
  color: white;
  font-size: 65px;
  text-align: center;
  padding: 20px 0px 20px 0px; 
  margin-top: 25px;
}

.home_ticket_text_base{
  background-color: #ff8110;
  color: white;
  text-align: center;
  font-family: Yanone Kaffeesatz;
}
.home_ticket_text_top_left{
  padding: 10px 0px 0px 0px;
  margin: 0px 10px 0px 20px;
  font-family: Yanone Kaffeesatz;
  font-size: 40px;
}
.home_ticket_text_bottom_left{
  margin: 0px 10px 0px 20px;
  font-size: 70px;
  font-family: Montserrat;
  padding: 0px 0px 15px 0px;
}
.home_ticket_text_top_right{
  padding: 10px 0px 0px 0px;
  padding-left: 0px;
  margin: 0px 20px 0px 10px;
  font-family: Yanone Kaffeesatz;
  font-size: 40px;
}
.home_ticket_text_bottom_right{
  margin: 0px 20px 0px 10px;
  font-size: 70px;
  font-family: Montserrat;
  padding: 0px 0px 15px 0px;
}
.col-6{
  padding: 0px
}
.home_tickets_top{
  padding-bottom: 25px;
  background-color: #565351; 
}
.home_tickets_bottom{
  padding-bottom: 25px;
  background-color: #565351; 
}
.home_news{
  background-color: white;
  margin-top: 25px;
}
.home_news_headlines{
  color: #ff8110;
  font-family: Oswald;
  font-size: 20px;
  padding: 35px 15px 0px 15px;
}
.home_more_news{
  color: #c9c9c9;
  font-family: Oswald;
  font-size: 20px;
  text-decoration: underline;
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;
}

.home_emails{
  color: #565351;
  border: 2px solid #c9c9c9;
  margin: 25px 15px 0px 15px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-family: Oswald;
}
#home_computer_icon{
  text-align: right;
}
#home_email_text{
  float: left;
}








