
.map__image{
  width: 100%;
  display: block;
  margin-bottom: 25px;

}
.teardrop__color{
  color: white;
  background-color: #C9C9C9;
  text-align: center;
  padding: 5px 0px 5px 20px;
  margin-bottom: 10px;
}
.venues__actual{
  color: #565351;
  background-color: #dddddd;
  padding: 5px 0px 5px 20px;
  margin-bottom: 10px;
}
.venues{
  font-family: Oswald;
  font-weight: bold;
  font-size: 45px;
  background-color: white;
  padding: 0px;
}
.venues__actual.venues__actual--selected{
  color: white;
  background-color: #565351;  
}
.venue_profile{
  display: none;
}


@media (min-width: 740px){
  .venue_profile{
    display: block;
  }
}