.page_header {
  margin-bottom: 25px;
}

.news {
  float: left;
  // margin: 25px 25px 0 25px; 
}

.news__image {
  display: block;
  width: 100%;
  border-right: solid 30px;
  border-color: #ff8110;
}

.news__title {
  background-color: white;
  color: #565351;
  padding: 10px 10px 10px;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
}

.side_bar {
  display: none;
}

// .news_white_background {
//   background-color: white;
//   overflow: hidden;
// }

@media (min-width: $breakpoint-tablet) {
  
  .news {
  float: left;
  width: 50%;
  margin-bottom: 50px; 
  }

  .home_emails {
    display: block;
    font-size: 16px;
    padding: 1px;
    margin: 0px 25px 0px;
  }

  .side_bar {
    display: block;
  }
}