.page_header {
  margin-bottom: 25px;
}

.news {
  margin: 25px 25px 0 25px; 
}

.news__image {
  display: block;
  width: 100%;
  border-right: solid 30px;
  border-color: #ff8110;
}

.news__title {
  background-color: white;
  color: #565351;
  padding: 10px 10px 10px;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  margin: 0 25px 0px 25px;
}