$schedule-left-column-width: 60px;
$schedule-venue-column-width: $schedule-left-column-width * 2;
$pixels-per-fifteen-minutes: 40px;

.schedule_times{
  float: left;
  width: $schedule-left-column-width;
  margin: 0;
  padding: 0;
  list-style: none;
}


.schedule_times__item{
  height: $pixels-per-fifteen-minutes * 4;
}

.venue_shows_container{
  margin-left: $schedule-left-column-width;
  margin-right: $schedule-left-column-width;
}

.venue_picker{
  width: 100%;
}
.triangle_box{
  background-color: #c9c9c9;
  width: $schedule-left-column-width;
  height: $schedule-left-column-width;
}

.venue_shows.venue_shows--hide-for-tablet{
  display: none;
}
.venue_box{
  background-color: white;
  overflow: hidden;
  width: calc(100% - 120px);
  
}
.venue_box__text{
  text-align: center;
  padding-top: 15; 
  font-family: Yanone Kaffeesatz;
  font-size: 25px;
  height: 60px;
  
  border: 2px solid red;
}
.venue_box__text.venue_box__text--2{
  display: none;
}
.float_left{
   float: left;
}
.float_right{
  float: right;
}
.triangle_box__triangle-left {
  width: 0;
  height: 0;
  margin-left: 15px;
  margin-top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
}
.triangle_box__triangle-right {
  width: 0;
  height: 0;
  margin-left: 28px;
  margin-top: 15px;
  border-top: 15px solid transparent;
  border-left: 15px solid white;
  border-bottom: 15px solid transparent;
}

@media (min-width: 420px){
  .venue_shows{
    float: left;
    width: $schedule-venue-column-width;
  }

  .venue_shows.venue_shows--hide-for-tablet{
    display: block;
  }
  .venue_box{
    width: calc(100% - 126px); 
  }
  .venue_box__text{
    width: 50%;
  }
  .venue_box__text.venue_box__text--2{
    display: block;
    width: 50%;
  }
  .schedule_container{
    max-width: 420px;
    margin: 0 auto;
  }
}

.show{
  background: #999;
  border-left: 10px solid #999;
}
.show.show--empty{
  background: transparent;
  border-left: none;
}

.show.show--all_ages{
  border-left-color: #F67C00;
}
.show.show--18-plus{
  border-left-color: #00F61D;
}
.show.show--21-plus{
  border-left-color: #F6008D;
}

.show--15, .show--empty-15{
  height: $pixels-per-fifteen-minutes;
}
.show--30, .show--empty-30{
  height: $pixels-per-fifteen-minutes * 2;
}
.show--45, .show--empty-45{
  height: $pixels-per-fifteen-minutes * 3;
}
.show--60, .show--empty-60{
  height: $pixels-per-fifteen-minutes * 4;
}