.primary_sponsor{

}
.primary_sponsor__logo{
  width: 100%;
  display: block;
}
.primary_sponsor__name{
  display: block;
  text-align: center;
  background-color: white;
  color: #565351;
  padding: 20px 0 20px;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid 3px;
  border-color: #565351;
}
.primary_sponsor__description{
  display: block;
  text-align: center;
  background-color: white;
  color: #565351;
  padding: 20px 0 20px;
  line-height: 15px;
  font-size: 15px;
}