.sponsor_container {
  border-right: 0px;
}

.primary_sponsor{
  background-color: white;
  text-align: center;
  color: #565351;
  text-decoration: none;
}
.primary_sponsor__logo{
  width: 100%;
  display: block;
}
.primary_sponsor__name{
  display: block;
  background-color: white;
  padding: 20px 0 20px;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid 3px;
  border-color: #8f8f8f;
}
.primary_sponsor__description{
  background-color: white;
  display: block;
  color: #565351;
  padding: 20px 0 20px;
  line-height: 15px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 25px;
}

@media (min-width: $breakpoint-tablet) {

  .sponsor_container {
    border-right: 1px solid;
    border-color: #8f8f8f;
  }

  .home_emails {
    display: none;
  }

  .side_bar {
    display: none;
  }
}



