.venue_profile {
  border-top: solid 7px;
  border-color: #565351;
  background-color: #8f8f8f;
}

.venue_profile__image {
  width: 100%;
  margin-top: 30px;
}

.venue_info {
  background-color: #8f8f8f;
  color: white;
  text-align: left;
  border-bottom: solid 3px;
  border-color: #565351;
  padding: 10px 0; 
}

.venue_info__name {
  font-family: Oswald;
  font-size: 30px;
}

.venue_info__link {
  font-family: Yanone Kaffeesatz;
  font-weight: 100;
}

.venue_info__address {
  font-family: Yanone Kaffeesatz;
  font-weight: 100;
}

.venue_bio {
  background-color: #8f8f8f;
  color: white;
  text-align: left;
  padding: 25px 0;
}

.extra_gutter {
 margin-left: 15px;
 margin-right: 15px;
}