.page_header {
  margin-bottom: 25px;
}

.visitors_guide_article__image {
  display: block;
  width: 100%;
}

.visitors_guide_article__title {
  background-color: white;
  color: #565351;
  padding: 20px 0 20px;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid 3px;
  border-color: #565351;
  margin-bottom: 20px;
}

.visitors_guide_article__content {
  padding-bottom: 30px;
}

.visitors_guide_article {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 15px;
}


.writer__image {
  display: block;
  width: 100px;
  height:50px;
  width: 50px;
  float: left;
}

.writer__info {
  background-color: white;
  color: #dddddd;
  padding: 25px 0px 25px 65px;
}



// .social_footer__left{
//   font-family: Oswald;
//   color: #565351;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 0px 10px 0px 20px;
//   background-color: #c9c9c9;
//   text-align: right;
// }

// .social_footer__right{
//   font-family: Yanone Kaffeesatz;
//   color: #565351;
//   font-size: 15px;
//   padding: 1px 15px 3px 0;
//   background-color: #c9c9c9;
//   font-weight: 300;
//   border-left: solid white 1px;
//   text-align: right;
// }

// .social_footer__top {
//   padding:3px;
//   background-color: #c9c9c9;
// }

// .soical_footer__bottom {
//   padding:3px;
//   background-color: #c9c9c9;
//   margin-bottom: 25px;
// }
