.page_header {
  margin-bottom: 25px;
}

.visitors_guide_article {
  border-right: 0px;
  border-color: none;

}

.visitors_guide_article__image {
  display: block;
  width: 100%;
}

.visitors_guide_article__title {
  background-color: white;
  color: #565351;
  padding: 20px 0 20px;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid 3px;
  border-color: #565351;
  margin-bottom: 20px;
}

.visitors_guide_article__content {
  padding-bottom: 30px;
}

.visitors_guide_article {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 15px;
}


.writer__image {
  display: block;
  width: 100px;
  height:50px;
  width: 50px;
  float: left;
}

.writer__info {
  background-color: white;
  color: #dddddd;
  padding: 25px 0px 25px 65px;
}

@media (min-width: $breakpoint-tablet) {

  .visitors_guide_article {
    border-right: 1px solid;
    border-color: #8f8f8f;
  }

}
