.page_header {
  margin-bottom: 25px;
}

.visitor_guide {
  margin: 25px 25px 0 25px; 
}

.visitor_guide__image {
  display: block;
  width: 100%;
}

.visitor_guide__title {
  background-color: white;
  color: #565351;
  padding: 10px 10px 10px;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  margin: 0 25px 0px 25px;
  border-bottom: solid 5px;
  border-color: #ff8110;
}

.writer__image {
  display: block;
  width: 100px;
  height:50px;
  width: 50px;
  float: left;
}

.writer__info {
  background-color: white;
  color: #dddddd;
  padding: 25px 0px 25px 65px;
}