<%= render "titles/default",
    :category => "INFO",
    :page => "About"
%>

<div class="main__content">
    <div class="content__content content--about">
        <div class="about--text">
            <h3>ABOUT LINCOLN CALLING</h3>
            <p>Lincoln Calling is an annual, non-profit music festival focusing on emerging artists and occurring across multiple venues in downtown Lincoln, Neb. Founded by Nebraska music lover and promoter Jeremy Buckley in 2003, the festival has thrived on a DIY mentality, showcasing rock, hip-hop, punk, indie pop, metal, DJs, folk, country and much more. Many of Nebraska’s best bands share billings with national acts, which have in the past included Gillian Welch & Dave Rawlings, Future Islands, BOY, Ivan & Alyosha, Tilly and the Wall, The Hood Internet and Those Darlins. And while Lincoln Calling has varied slightly in length and venue participation in its lifetime, in recent years it’s consistently offered in the vicinity of 100 performances.</p>
            <p>The nonprofit Hear Nebraska assumed management and operations of Lincoln Calling in 2016, just in time for its 13th year, Oct. 6-8. Now aligned with Lincoln Startup Week, Lincoln YP Week and Make Lincoln, the festival is committed to being an accessible, affordable and easily navigable exhibition of the city’s arts scene — including comedy, film and visual art — as well as Lincoln’s promise for attracting top-flight national talent.</p>
        </div>
    </div>
    <div class="content__divider">
    </div>
    <section class="content__sidebar">
        <%= render "sidebars/email" %>
        <a href="/" class="sidebar__image"><img src="<%= image_url('sidebar.png') %>" alt="Oct. 6-8"/></a>
        <!-- <%= render "sidebars/events" %> -->
    </section>
</div>
