<div class="page_header">
  <div class="header_divider_top"></div>
  <div class="page_header__left page_header__left--full">ABOUT</div>
  <div class="header_divider_bottom"></div>
</div>  
<div class="clear">
  <div class="about col-8-tablet">
    <% @about.each do |about| %>
      <img class="about__image" src="<%=about.image%>">
      <div class="about__content"><%=about.article_content%></div>
    <% end %>
  </div>
  <%= render "sidebars/events" %>
</div>


  
