<div class="page_header">
  <div class="header_divider_top"></div>
  <div class="page_header__left page_header__left--full">ABOUT</div>
  <div class="header_divider_bottom"></div>
</div>  
<div class="clear">
  <div class="about col-8-tablet">
    <% @about.each do |about| %>
      <img class="about__image" src="<%=about.image%>">
      <div class="about__content"><%=about.article_content%></div>
    <% end %>
  </div>
  <div class="col-4-tablet">
    <a href="http://hearnebraska.us1.list-manage1.com/subscribe?u=8a195706cf10047ecb6091c5e&id=e8436333d5">
      <div class="home_emails">
        <div id="home_computer_icon" class="icon"></div>
        <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
      </div>
    </a>
  </div>
      <!-- Show Sidebar -->
  <div class="col-4-tablet">
    <%= render "events" %>
  </div>