<%= render "titles/default",
    :category => "INFO",
    :page => "About"
%>

<div class="main__content">
    <div class="content__content content--about">
        
    </div>
    <div class="content__divider">
    </div>
    <%= render "sidebars/events" %>
</div>  
